@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

.carousel-item {
    height: 32rem;
}

[data-bs-theme=dark] .bg-light {
    background-color: #292a2d;
}

.fill-white {
    fill: #fff !important;
}

.card {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.2);
}

.card:hover {
    transition: .3s ease-in-out;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.3);
}

.card-dark .icon-link {
    background-color: transparent;
}

.card-dark a {
    text-decoration: none;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.intro h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
}

.intro h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.intro .details {
    font-family: "Quicksand", sans-serif;
    text-align: justify;
    font-size: larger;
    font-weight: 600;
}

.btn {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0px;
    padding: 0.5em 1.5em;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    text-decoration: underline;
}

/*About page*/
.about-main h2 {
    font-family: 'Oswald', sans-serif;
    margin-top: 2em;
}

.about-main p {
    font-family: "Quicksand", sans-serif;
    text-align: justify;
    font-weight: 600;
}

.card-about {
    background-color: transparent;
    border: 1px solid #000;
}

@media (max-width: 768px) {
    .intro h2 {
        font-size: 2rem;
    }
}